@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
body{
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
    display: flex;
}
.navbar{
    width: 16vw;
    height: 100vh;
    background-color: #FAFAFA;
    border-right: 3px solid #00000019;
    position: fixed;
    z-index: 10;
    padding: 4vh;
}
.main{
    width: calc(100% - (16vw + 4vh + 4vh + 3px));
    height: 200%;
    display: flex;
    justify-content: end;
    background-color: #FAFAFA;
    position: absolute;
    left: calc(16vw + 4vh + 4vh + 2px);
    /* overflow-y: scroll; */
}
.name{
    display: flex;
    align-items: center;
    margin: 0vh 0 4vh 0;
    height: 7vh;
}
.name img{
    height: 5.5vh;
}
.nav{
    width: 10vw;
    height: 6vh;
    margin: 2vh 0 2vh 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    font-size: 2.3vh;
    font-family: 'Roboto', sans-serif;
}
.nav img{
    height: 4vh;
    margin-right: 2vw;
}
.content{
    width: 65%;
    height: 100%;
    /* background-color: aqua; */
}
.suggestion{
    width: 35%;
    height: 100%;
    background-color: #FAFAFA;
    /* border: 3px solid black; */
}
.stories-container{
    /* display: flex; */
    padding: 30px;
    /* justify-content: space-evenly; */
    height: 18vh;
    width: 100%;
    /* background-color: antiquewhite; */
    overflow-x: auto;
    overscroll-behavior-x: contain;
    /* white-space: nowrap; */
}
.stories-container::-webkit-scrollbar{
    display: none;
}
.stories{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: 5rem; */
    grid-gap: 2rem;
}
.story{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    place-items: center;
    background: linear-gradient(to bottom left, rgb(211, 7, 211), rgb(233, 85, 110), rgb(241, 36, 36), rgb(223, 164, 57), rgb(248, 248, 54));
    /* border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom left, purple, pink, red, orange, yellow), 100%; */
    padding: 4px;
    /* object-fit: fill; */
}
.story img{
    height: 83px;
    width: 90px;
    border-radius: 50%;
    object-fit: fill;
    border: 4px solid rgb(227, 227, 227);
}